{% extends "public/base.html" %}
{% load static %}

{% block NavCenter %}
<div class="flex justify-center items-center">
    <div class="inter_Bold">
        <p class="text-2xl">Election</p>
        <p>Request Pages</p>
    </div>
    <hr class="rotate-90 w-[50px] border-1">
    <div class="inter_Bold">
        <p class="text-2xl">Give Your Informaion</p>
        <p class="text-4xl">As a Party</p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="h-[90vh] flex flex-col justify-end items-center">
    <div class="w-[98%] h-[90vh] flex justify-center items-center">
        <div class="w-full">
            <div class="w-full flex justify-center items-center">
                <p class="text-4xl inter_Bold">Send your Request Fully</p>
            </div>

            <div class="w-full">
                <form method="post" enctype="multipart/form-data" class="w-full flex justify-center items-start gap-10 p-10 inter_Bold">
                    {% csrf_token %}
                    <div class="w-[50%] flex flex-col gap-2">
                        <div class="pt-2">
                            <p class="pl-4 text-xl">Upload Your Party Logo</p>
                            {{ Comptition.party_logo }}
                        </div>
                        
                        <div class="w-full flex justify-center items-center gap-4">
                            {{ Comptition.party_nik_name }}
                            {{ Comptition.party_FullName }}
                        </div>

                        <div>
                            {{ Comptition.party_chairman_name }}
                        </div>

                        <div>
                            {{ Comptition.want_lead }}
                        </div>

                        <div class="pt-2">
                            <p class="pl-4 text-xl">Upload Your Party Informaion By PDF</p>
                            {{ Comptition.party_info_PDF }}
                        </div>
                    </div>

                    <div class="w-[50%] flex flex-col gap-4">
                        <div>
                            {{ Comptition.party_discription }}
                        </div>

                        <button type="submit" class="w-[25%] bg-sky-50 p-4 text-2xl text-dark rounded-lg inter_Bold hover:bg-green-600 hover:border-blue-400 hover:text-white hover:scale-[1.02] transition duration-300 cursor-pointer">Send Request</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}