{% extends "public/base.html" %}
{% load static %}

{% block title %} EVNP - Election {% endblock  %}

<div class="flex flex-col justify-start items-center">
    <div>
        {% block NavCenter %}
            <div class="w-full h-full flex justify-center items-center">
                <div class="w-[60%] h-full p-4 flex justify-between items-start">
                    <ul class="flex flex-col justify-center items-center">
                        <li class="text-6xl inter_Bold">78</li>
                        <li class="inter_SemiBold">Days</li>
                    </ul>

                    <ul class="flex flex-col justify-center items-center">
                        <li class="text-6xl inter_Bold">11</li>
                        <li class="inter_SemiBold">Hour</li>
                    </ul>

                    <ul class="flex flex-col justify-center items-center">
                        <li class="text-6xl inter_Bold">32</li>
                        <li class="inter_SemiBold">Min</li>
                    </ul>

                    <ul class="flex flex-col justify-center items-center">
                        <li class="text-6xl inter_Bold">34</li>
                        <li class="inter_SemiBold">Sec</li>
                    </ul>
                </div>

                <div class="w-[20%] h-full flex flex-col justify-center items-center">
                    <p class="inter_Bold p-0">Reaming For</p>
                    <p class="inter_Bold text-2xl">Election</p>
                </div>
            </div>
        {% endblock %}
    </div>

    <div>
        {% block content %}
            <div class="w-full h-[90vh] flex flex-col justify-end items-center">
                <div class="w-[98%] h-[87vh] rounded-t-[30px] bg-radial-[at_25%_25%] from-sky-800 to-sky-950 to-75% flex flex-col justify-start items-center gap-4">
                    <div class="w-full h-full flex justify-center items-center">
                        <div class="w-1/2">
                            <h1>Hello</h1>
                        </div>

                        <div class="w-1/2">

                        </div>
                    </div>
                </div>
            </div>
        {% endblock %}
    </div>
</div>