{% extends "public/base.html" %}
{% load static %}

{% block NavCenter %}
<div class="flex justify-center items-center gap-4">
    <div class="inter_Bold">
        <p class="text-xl">Party Request</p>
        <p class="text-3xl">Review</p>
    </div>
    <hr class="rotate-90 w-[50px] border-1">
    <div class="inter_Bold">
        <p class="text-4xl">Admin Panel</p>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="w-full h-[90vh] flex flex-col justify-start items-start p-10">
    <div class="w-full grid grid-cols-[200px_200px_200px_200px]">
        <div class="w-[250px] h-[300px] bg-radial-[at_25%_25%] from-sky-800 to-sky-950 to-100% shadow-sm rounded-sm hover:shadow-lg hover:scale-[1.02] transition duration-300 cursor-pointer flex flex-col justify-end items-start p-2">
            <p class="text-white text-2xl inter_Bold">Prosperity party</p>
            <p class="text-white text-sm inter_Bold">Dr Abiy Ahmed</p>
        </div>
    </div>
</div>
{% endblock %}