{% extends "public/base.html" %}
{% load static %}

{% block title %} EVNP - Sign Up {% endblock %}

<div class="flex flex-col justify-center items-center">
    <div class="flex justify-center items-center">
        {% block NavCenter %}
            <div class="flex justify-center items-center">
                <h1 class="text-5xl inter_Bold">Sign Up</h1>
            </div>
        {% endblock %}
    </div>
</div>

{% block content %}
<div class="w-full h-[90vh] flex flex-col justify-end items-center">
    <div class="w-[98%] h-[87vh] rounded-t-[30px] bg-radial-[at_25%_25%] from-sky-800 to-sky-950 to-75% flex flex-col justify-start items-center gap-4">
        <div class="w-full h-full flex justify-center items-center">
            <div class="w-1/2">
                <h1>Hello</h1>
            </div>

            <div class="w-1/2 flex justify-center items-center">
                <div class="w-[50%] h-[550px] bg-sky-100 rounded-lg">
                    <div>
                        <p>SIGN UP HERE</p>
                        <p>Verify What You Are</p>
                    </div>

                    <form method="post" class="flex flex-col justify-center items-center">
                        <div class="w-[90%] flex flex-col justify-center items-center gap-2">
                            {% csrf_token %}
                            <div class="flex justify-center items-center gap-4">
                                {{ form.first_name }}
                                {{ form.last_name }}
                            </div>

                            <div class="w-full flex flex-col justify-center items-center gap-2">
                                {{ form.username }}
                                {{ form.email }}
                            </div>

                            <div class="flex justify-center items-center gap-4">
                                {{ form.password1 }}
                                {{ form.password2 }}
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}