{% extends "public/base.html" %}
{% load static %}

{% block NavCenter %}
<div>
    <p>Main Vote</p>
</div>
{% endblock %}

{% block content %}
    {% if not is_staff %}
        {% for votes in vote %}
            <div>
                <div>
                    <img src="{{ votes.party_logo.url }}" alt="">
                </div>

                <div>
                    <p>{{ votes.party_FullName }}</p>
                    <p>{{ votes.party_chairman_name }}</p>
                </div>
            </div>
        {% endfor %}
    {% endif %}
{% endblock %}